

.button {
	-fx-min-width: 300px;
	-fx-min-height: 35px;
}

.vbox {
	-fx-min-width: 500px;
	-fx-min-height: 500px;
	-fx-padding: 50px;
	-fx-spacing: 50px;
}
.hbox {
	-fx-min-width: 500px;
	-fx-min-height: 500px;
	-fx-padding: 50px;
	-fx-spacing: 50px;
}
	.text-field {
  -fx-alignment: center-right;
   -fx-min-width: 300;
    -fx-min-height: 35;
  -fx-font-style: italic;
  -fx-text-fill: black;
	-fx-border-insets: 2px;
	-fx-border-color: grey;
	-fx-border-width: 1px;
}
	
.label{
	-fx-min-width: 300px;
	-fx-min-height: 35px;
	 -fx-font-size: 16px;
  //-fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: black;
	-fx-border-insets: 2px;
	-fx-border-color: grey;
	-fx-border-width: 1px;
}
